[user]
	email = gdobbins@protonmail.com
	name = Graham Dobbins
	signingkey = BAEE096B!
[core]
	editor = emacsclient -a emacs
[diff]
	compactionHeuristic = true
[diff "lisp"]
	xfuncname = "^\\(def[^[:space:]]+[[:space:]]+([^()[:space:]]+)"
[diff "elisp"]
	xfuncname = "^\\(def[^[:space:]]+[[:space:]]+([^()[:space:]]+)"
